<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>

<body>
    
    <div id="jsonObjeto">
        <p v-if="seen"> User information </p>
        
        <ol>
            <li v-for="item in users">
                {{ item.iduser }}
                {{ item.name }}
                {{ item.password }}
                {{ item.links.rel }}
                {{ item.links.href }}
            </li>
        </ol> 
        
    </div>
    
    <script>
        var appInst = new Vue({
            
            el:"#jsonObjeto",
            
            data:{
                seen: false,
                
                users:[
                {
                    iduser: "1",
                    name:"paulo",
                    password:"123",
                    links:{
                        rel:"yyy",
                        href:"xxx/xxx/xxx"
                    }
                },
                {
                    iduser: "2",
                    name:"ligia",
                    password:"456",
                    links:{
                        rel:"ttt",
                        href:"uuu/uuu/uuu"
                    }  
                }]
                
            }
            
        });
    </script>
    
</body>

</html>